<h1>Registros</h1>

<ul>

{% for registros in object_list %}
    <li>Identificador: {{ registros.identificador }}
        <br/>Especie: {{ registros.especie }}
        <br/>familia: {{ registros.familia }}
        <br/>nombre_comun: {{ registros.nombre_comun }}
        <br/>proyecto: {{ registros.proyecto }}
        <br/>base_registro: {{ registros.base_registro }}
        <br/>anio_identificacion: {{ registros.anio_identificacion }}
        <br/>departamento: {{ registros.departamento }}
        <br/>municipio: {{ registros.municipio }}
        <br/>localidad: {{ registros.localidad }}
        <br/>latitud: {{ registros.latitud }}
        <br/>longitud: {{ registros.longitud }}
        <br/>autor: {{ registros.autor }}
        <br/>fecha_captura: {{ registros.fecha_captura }}
        <br/>ecorregion:{{registros.ecorregion}}
    </li>
{% empty %}
    <li>No se han registrado registros biologicos.</li>
{% endfor %}
</ul>